In [25]:
import pandas as pd
import datetime as dt
import teradata
import pyodbc

In [27]:
#Lee el archivo de los proveedores
def leer_archivos():
    
    #Especificar la ulr para agarrar todos los archivos de ahi, de momento no tengo la url de una compartida entonces por el momento no importa
    #url = ""
    nombre_cts = "Copia de CTS_Procesamiento_2025.06.16.xlsx"
    nombre_int = "Copia de Procesamiento_compras_INTENEG_2025-06-16.xlsx"
    nombre_historico = "Historico.xlsx"
    
    url_cts = nombre_cts
    url_int = nombre_int
    #url_his = url + nombre_historico
    
    dtype = {
        'Cuenta' : str,
        'Tarjeta' : str,
        'Autorizacion1' : str
    }

    #Lee los archivos tal cual como vienen en el sharepoint
    df_cts = pd.read_excel(url_cts, dtype=dtype, parse_dates=["Fcompra1"])
    df_int = pd.read_excel(url_int, dtype = dtype, parse_dates=["Fcompra1"])
    
    df_cts["Fcompra1"] = df_cts["Fcompra1"].dt.strftime("%d/%m/%Y")
    df_int["Fcompra1"] = df_int["Fcompra1"].dt.strftime("%d/%m/%Y")
    
    
    #Esto junta los dos df en uno solo pero no se si es necesario tenerlos separados o si si se puede tenerlos juntos
    #df_prove = pd.concat([df_cts,df_int])
    
    return df_cts, df_int

def quitar_duplicados(df):

    #Crea la llave
    df["Llave"] = df["Cuenta"] + df["Autorizacion1"]

    #Borramos los duplicados
    df = df.drop_duplicates(subset = 'Llave')
    
    return df
    
#def quitar_historicos(df):
    #Eliminamos las que ya se encuentrann en el historico
    #df_prove = df_prove[~df_prove['Llave'].isin(set(df_historico['Llave']))]

def formato_SQL(df,columna):
    
    #Convertir columnas en formato SQL (con comillas y coma) para la consulta SQL ejemplo 123456 va a ser igual a '123456',
    lista_formato_SQL = df[columna].tolist()
    lista_formato_SQL= ', '.join(f"'{tarjeta}'" for tarjeta in lista_formato_SQL)
    
    return lista_formato_SQL
    
    
def teradata_arsd(cuentas):
    teradata = f"""SELECT NUM_AUT_COM AS Compra,  NUM_CTA_CTAF AS Cuenta
    , (VAL_TRANS_COM - VAL_JUROS_PARC_COM) AS Monto
    , DAT_TRANS_COM AS fechacompra
    ,CASE WHEN VAL_DADO_ORIG_LKP IN ('320001','350001','353001','356001','310001','311001','373001','376001','372001','352001') THEN '1000'
    WHEN  VAL_DADO_ORIG_LKP  IN ('320002','350002','353002','356002','310002','311002','373002','376002','352002','372002','377002','357002','354002','374002') THEN '1100'
    WHEN  VAL_DADO_ORIG_LKP IN ('320003','350003','353003','356003','310003','311003','373003','376003','352003','372003','377003','357003','354003','374003') THEN '1181'
    END AS PLAN
    , NOM_ESTB_PRO
    ,'D002' AS Descripcion
    ,COD_CICL_FAT_FCCFM AS corte
    ,ID_PROD_CTAF
    ,Val_dado_orig_can 
    ,NUM_REF_COM as Reference 
    FROM COMPRA_V 
    INNER JOIN CARTAO_FINANCIAMENTO_V 
    ON ID_CAR_COM = ID_CAR_CARF 
    INNER JOIN CONTA_FINANCIAMENTO_V 
    ON ID_CTA_CTAF = ID_CTA_CARF 
    LEFT JOIN CANAL_V 
    ON ID_CANA_CAN=ID_CANA_ADES_CTAF 
    INNER JOIN TIPO_TRANSACAO_V 
    ON ID_TIPO_TRANS_LKP = ID_TIPO_TRANS_COM 
    INNER JOIN FAT_COMP_CONTA_FINANC_FDM_V 
    ON NUM_CTA_CTAF = NUM_CTA_ATUAL_FCCFM 
    AND ID_CICL_ATRA_ROLLRATE_FCCFM IN ('11','12') 
    AND VAL_SALDO_DIV_TOT_FCCFM > 0 
         INNER JOIN TRANSACAO_PROSA_V 
    ON ID_CAR_PRO=ID_CAR_COM 
    AND NUM_AUT_COM = NUM_AUT_PRO 
    AND NUM_REF_COM = NUM_REF_PRO 
    WHERE 
    ID_PROD_CTAF IN (9, 38, 24, 52, 11, 14, 19, 30, 36, 47,35,37,57,40)
    AND ((COD_CICL_FAT_FCCFM=10 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >10 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+10, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+10,-1)  
     END AS z) AND CURRENT_DATE) 
     OR (COD_CICL_FAT_FCCFM=25 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >25 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+25, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+25,-1)  
     END AS z) AND CURRENT_DATE)
      OR (COD_CICL_FAT_FCCFM=3 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >3 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+3, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+3,-1)  
     END AS z) AND CURRENT_DATE)
                     OR (COD_CICL_FAT_FCCFM=5 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >5 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+5, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+5,-1)  
     END AS z) AND CURRENT_DATE)
       OR (COD_CICL_FAT_FCCFM=15 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >15 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+15, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+15,-1)  
     END AS z) AND CURRENT_DATE)
        OR (COD_CICL_FAT_FCCFM=20 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >20 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+20, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+20,-1)  
     END AS z) AND CURRENT_DATE)
      OR (COD_CICL_FAT_FCCFM=11 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >11 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+11, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+11,-1)  
     END AS z) AND CURRENT_DATE)
       OR (COD_CICL_FAT_FCCFM=28 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >28 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+28, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+28,-1)  
     END AS z) AND CURRENT_DATE)
       OR (COD_CICL_FAT_FCCFM=23 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >23 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+23, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+23,-1)  
     END AS z) AND CURRENT_DATE)
        OR (COD_CICL_FAT_FCCFM=8 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >8 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+8, -1)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+8,-1)  
     END AS z) AND CURRENT_DATE)
     )AND ID_MES_FCCFM = ADD_MONTHS(CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) +1, -1)
    AND VAL_DADO_ORIG_LKP IN ('320002', '320003', '320001','350002', '350003', '350001','353002', '353003', '353001','310002', '310003', '310001','311002', '311003', '311001','373002', '373003', '373001','376002', '376003', '376001','356002', '356003', '356001','352001','372001','352002','372002','352003','372003','377002','357002','354002','374002','377003','357003','354003','374003')
    AND NUM_CTA_CTAF IN ({cuentas})
    ORDER BY NUM_CTA_CTAF, Monto DESC
    """
    
    return teradata
    
def teradata_artd(cuentas):
    teradata = f"""SELECT NUM_AUT_COM AS Compra,  NUM_CTA_CTAF AS Cuenta
    , (VAL_TRANS_COM - VAL_JUROS_PARC_COM) AS Monto
    , DAT_TRANS_COM AS fechacompra
    ,CASE WHEN VAL_DADO_ORIG_LKP IN ('320001') THEN '1000'
    WHEN VAL_DADO_ORIG_LKP in ('311001','310001') THEN '6000'
    WHEN  VAL_DADO_ORIG_LKP  IN ('320002','350002','353002','356002','310002','311002','373002','376002','352002','372002','377002','357002','354002','374002') THEN '1100'
    WHEN  VAL_DADO_ORIG_LKP IN ('320003','350003','353003','356003','310003','311003','373003','376003','352003','372003','377003','357003','354003','374003') THEN '1181'
    END AS PLAN
    , NOM_ESTB_PRO
    ,'D002' AS Descripcion
    ,COD_CICL_FAT_FCCFM AS corte

    ,ID_PROD_CTAF

    ,Val_dado_orig_can 
    ,NUM_REF_COM as Reference 
    FROM COMPRA_V 
    INNER JOIN CARTAO_FINANCIAMENTO_V 
    ON ID_CAR_COM = ID_CAR_CARF 
    INNER JOIN CONTA_FINANCIAMENTO_V 
    ON ID_CTA_CTAF = ID_CTA_CARF 
    LEFT JOIN CANAL_V 
    ON ID_CANA_CAN=ID_CANA_ADES_CTAF 
    INNER JOIN TIPO_TRANSACAO_V 
    ON ID_TIPO_TRANS_LKP = ID_TIPO_TRANS_COM 
    INNER JOIN FAT_COMP_CONTA_FINANC_FDM_V 
    ON NUM_CTA_CTAF = NUM_CTA_ATUAL_FCCFM 
    AND ID_CICL_ATRA_ROLLRATE_FCCFM IN ('11','12') 
    AND VAL_SALDO_DIV_TOT_FCCFM > 0 
         full OUTER JOIN TRANSACAO_PROSA_V 
    ON ID_CAR_PRO=ID_CAR_COM 
    AND NUM_AUT_COM = NUM_AUT_PRO 
    AND NUM_REF_COM = NUM_REF_PRO 
    WHERE 
    ID_PROD_CTAF IN (9, 38, 24, 52, 11, 14, 19, 30, 36, 47,35,37,57,40)
    AND ((COD_CICL_FAT_FCCFM=10 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >10 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+10, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+10,-1)  
     END AS z) AND CURRENT_DATE) 
     OR (COD_CICL_FAT_FCCFM=25 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >25 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+25, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+25,-1)  
     END AS z) AND CURRENT_DATE)
      OR (COD_CICL_FAT_FCCFM=3 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >3 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+3, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+3,-1)  
     END AS z) AND CURRENT_DATE)
      OR (COD_CICL_FAT_FCCFM=5 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >5 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+5, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+5,-1)  
     END AS z) AND CURRENT_DATE)
       OR (COD_CICL_FAT_FCCFM=15 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >15 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+15, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+15,-1)  
     END AS z) AND CURRENT_DATE)
        OR (COD_CICL_FAT_FCCFM=20 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >20 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+20, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+20,-1)  
     END AS z) AND CURRENT_DATE)
         OR (COD_CICL_FAT_FCCFM=28 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >28 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+28, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+28,-1)  
     END AS z) AND CURRENT_DATE)
         OR (COD_CICL_FAT_FCCFM=23 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >23 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+23, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+23,-1)  
     END AS z) AND CURRENT_DATE)
         OR (COD_CICL_FAT_FCCFM=8 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >8 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+8, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+8,-1)  
     END AS z) AND CURRENT_DATE)
      OR (COD_CICL_FAT_FCCFM=11 AND DAT_TRANS_COM BETWEEN(SELECT CASE  WHEN  EXTRACT(DAY FROM CURRENT_DATE) >11 THEN  ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+11, +0)  
    ELSE ADD_MONTHS((CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) )+11,-1)  
     END AS z) AND CURRENT_DATE)
     )AND (ID_MES_FCCFM = ADD_MONTHS(CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) +1, -1)
     or ID_MES_FCCFM = ADD_MONTHS(CURRENT_DATE- EXTRACT(DAY FROM CURRENT_DATE) +1, 0))
    AND VAL_DADO_ORIG_LKP IN ('320002', '320003', '320001','350002', '350003', '350001','353002', '353003', '353001','310002', '310003', '310001','311002', '311003', '311001','373002', '373003', '373001','376002', '376003', '376001','356002', '356003', '356001','352001','372001','352002','372002','352003','372003','377002','357002','354002','374002','377003','357003','354003','374003')
    AND NUM_CTA_CTAF IN ({cuentas})
    ORDER BY NUM_CTA_CTAF, Monto DESC
    
    """
    
    return teradata

def conexion_a_teradata():
    
    try:
        print('Iniciando sesión en Teradata...')
    
        host: str = '192.168.17.64'  # Dirección IP o nombre del servidor Teradata
        user: str = 'MPROC_GR'       # Usuario de Teradata
        password: str = 'padrao' # Contraseña de Teradata
        driver: str = "Teradata Database ODBC Driver 20.00"  # Controlador ODBC

        udaExec = teradata.UdaExec(appName="PythonApp", version="1.0", logConsole=False)

        session = udaExec.connect(

            method="odbc",
            system=host,
            username=user,
            password=password,
            driver=driver,
            sslmode='Allow'
        )
        
    except Exception as e:
        print(f"Error en la conexión a Teradata: {str(e)}")
        return None  # Retorna None en caso de error
    
    return session

    
def hacer_consulta(session, query):
    
    session.execute("DATABASE PM_MstrDB")
    df = pd.read_sql(query, session)
    
    return df

def cerrar_conexion(session):
    session.close()


def main():
    
    
    #Para no hacer todo dos veces en caso de qu los df se deban mantener separados, se puede crear una funcion en donde se ponga 
    #todos los pasos y de parametro reciba un df, finalmente en el main llamamos a esa funcio dos veces una por cada df
    df_cts, df_int = leer_archivos()
    df_cts = quitar_duplicados(df_cts)
    df_int = quitar_duplicados(df_int)
    
    #Convierte todas las cuentas en formato SQL
    cuentas_cts = formato_SQL(df_cts, "Cuenta")
    cuentas_int = formato_SQL(df_int, "Cuenta")
    cuentas = cuentas_cts + ',' +cuentas_int
    
    #Hace la consulta en teradata
    session = conexion_a_teradata()
    df_arsd = hacer_consulta(session, teradata_arsd(cuentas))
    df_artd = hacer_consulta(session, teradata_artd(cuentas))
    cerrar_conexion(session)
   
    #Concatenar las dos consultas
    df_teradata = pd.concat([df_arsd,df_artd])
    
    #Cambiar el formato de la fecha a dd/mm/aaaa
    df_teradata['fechacompra'] = pd.to_datetime(df_teradata['fechacompra'], dayfirst=True, errors='coerce')
    df_teradata['fechacompra'] = df_teradata['fechacompra'].dt.strftime('%d/%m/%Y')
    
    
    #Crear una llave en terada cuenta&aut&monto&fecha?
    df_teradata["Llave_completa"] = df_teradata["Cuenta"] + df_teradata["Compra"] + df_teradata["Monto"].astype(str) + df_teradata["fechacompra"].astype(str)
    df_cts["Llave_completa"] = df_cts["Cuenta"] + df_cts["Autorizacion1"] + df_cts["Monto1"].astype(str) + df_cts["Fcompra1"].astype(str)
    
    #Busca en las dos consultas de teradata si se encuentran esos casos y asi saber que todos los campos de la llave estan bien
    df_cts_bien = df_cts[df_cts['Llave_completa'].isin(set(df_teradata['Llave_completa']))]
    
    #Los que no tienen algun campo bien, averiguar que campo esta mal y poner el correcto?
    df_cts_mal = df_cts[~df_cts['Llave_completa'].isin(set(df_teradata['Llave_completa']))]
    
    #Llave cuenta&aut para asignar el monto y fecha a los que encuentren, ya que uno de estos dos campos estaran mal
    df_teradata["Llave_cuenta_aut"] = df_teradata["Cuenta"] + df_teradata["Compra"]
    df_cts_bien_2 = df_cts_mal[df_cts_mal['Llave'].isin(set(df_teradata['Llave_cuenta_aut']))]
    
    print(df_cts_bien_2)
    
    
    
    
main()

Iniciando sesión en Teradata...

C:\Users\luis.campos\AppData\Local\Temp\ipykernel_8304\1632322569.py:235: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, session)

                   Cuenta              Tarjeta  \
4247  0004037500147772000  0004037500147772022
4392  0004463512432875000  0004463512468393695
4738  0004463511483869000  0004463511483869010
5090  0004463510876737000  0004463510876737040
5146  0004037500188000000  0004037500188000010
5156  0004463511854342000  0004463511854342027
5460  0004463511608982000  0004463511608982029
5633  0004812820310856000  0004812820310856019
5692  0004812820545382575  0004812820545382575
5757  0004812820364067000  0004812820364067018
6007  0004812820550502687  0004812820550502687
6082  0004812840062363000  0004812840062363071
6144  0004812820549017516  0004812820549017516
6577  0004812830209346000  0004812830209346022
6614  0004812830046383000  0004812830046383022
7054  0004812820552795909  0004812820552795909
7291  0004812831006730079  0004812831006730079
7383  0004812831023980418  0004812831023980418
7450  0004812840710070000  0004812840710070029

                                   Nombre Autorizacion1   Monto1    Fcompra1  \
4247              COPADO BERMUDEZ GUDELIA        020323   504.60  06/06/2025
4392       GRIMALDO CASTILLO MARCELA AIDE        063269  1038.00  09/06/2025
4738               MARTINEZ DELFINO NANCY        005871   648.00  14/06/2025
5090            CORONEL CASTILLO GABRIELA        026042  1200.00  02/06/2025
5146            CASTRO CASTRO IRIS JANETH        060934   667.10  10/06/2025
5156            MORIN PALOS DEISSY LORENA        028197   300.00  31/05/2025
5460        HERNANDEZ MURILLO JOSE MANUEL        038550   150.00  06/06/2025
5633          PEREZ ALVARADO MARIA JOSEFA        065311  1427.00  08/06/2025
5692         HERNANDEZ GARCIA JESUS ARHIT        016543    68.00  04/06/2025
5757        LURIA HERNANDEZ MARTHA ISABEL        000533   641.49  07/06/2025
6007       HEMAN MANRIQUE ROCIO GUADALUPE        002213    59.00  24/05/2025
6082              ZAVALA HERRERA BALTAZAR        014929  1119.03  08/06/2025
6144                 AQUINO RAMON ARNULFO        088047   500.00  10/06/2025
6577        RODRIGUEZ MONROY MARIA ISABEL        013502   636.22  03/06/2025
6614             CORTES ISLAS MARIA IRENE        093747   500.00  06/06/2025
7054                 MARTINEZ ANGEL MARIO        009451    80.95  03/06/2025
7291                 FERNANDEZ JAIME ELSA        091841   392.93  24/05/2025
7383       GONZALEZ CASARES SARA CAROLINA        027023  2090.00  01/06/2025
7450  HERNANDEZ FUENTES ROBERTO SEBASTIAN        090386   110.00  31/05/2025

                   Comercio1  Pagos  Fecha ayer         Agente  Txn1  Socio  \
4247            BAE TRONCOSO      4  2025-06-16    iserratohf4  1100      7
4392           HEB CONCORDIA      9  2025-06-16     FGUTIERREZ  1100      0
4738   MERPAGO*BECERRODEORO3      4  2025-06-16     SAGUILASL6  1100      0
5090  COPPEL PZA AMBAR TUXTL      9  2025-06-16       HVEGAFF5  1100      0
5146     SU SUPER TUZANIA II      4  2025-06-16       jcabrera  1100      7
5156  VENT MEGA BOX AGS UNIV      6  2025-06-16   JSANDOVAL6U8  1100      0
5460       GASOL TEPEYAC OLM      4  2025-06-16  Shernandezb87  1100      0
5633     COPPEL NINOS HEROES      6  2025-06-16       jcabrera  1100      6
5692            OXXO CUC PVA      6  2025-06-16     SAGUILASL6  1100      6
5757  COMER LA BAHIA DE MAZA      4  2025-06-16   JNORBERTOIB3  1100      6
6007     DUNKIN DONUTS CANEK      3  2025-06-16    iserratohf4  1100      6
6082  SUPERCENTER NICOLAS RO      9  2025-06-16  Agarmendia3W6  1100      3
6144  SUPERCENTER VILLAHERM1      4  2025-06-16     PCAMPOS544  1100      6
6577      BODEGA SAN PEDRITO      3  2025-06-16    dcoronelu87  1100      4
6614     POINTMP*FLOWERSLOVE      3  2025-06-16  Agarmendia3W6  1100      4
7054     POINTMP*SIXSANPEDRO      4  2025-06-16     DCORTESPG0  1100      6
7291             OXXO CALETA      3  2025-06-16     PCAMPOS544  1100      4
7383          BODEGA TEXCOCO      9  2025-06-16     FGUTIERREZ  1100      4
7450         OPENPAY*INDRIVE     12  2025-06-16     LJAIMESLK6  1100      3

     TipoLlamada TipoParcializacion                      Llave  \
4247          IN                MSI  0004037500147772000020323
4392          IN                MSI  0004463512432875000063269
4738          IN                MSI  0004463511483869000005871
5090          IN                MSI  0004463510876737000026042
5146          IN                MSI  0004037500188000000060934
5156          IN                 PF  0004463511854342000028197
5460          IN                MSI  0004463511608982000038550
5633          IN                 PF  0004812820310856000065311
5692          IN                 PF  0004812820545382575016543
5757          IN                MSI  0004812820364067000000533
6007          IN                 PF  0004812820550502687002213
6082          IN                MSI  0004812840062363000014929
6144          IN                MSI  0004812820549017516088047
6577          IN                 PF  0004812830209346000013502
6614          IN                 PF  0004812830046383000093747
7054          IN                MSI  0004812820552795909009451
7291          IN                 PF  0004812831006730079091841
7383          IN                MSI  0004812831023980418027023
7450          IN                 PF  0004812840710070000090386

                                  Llave_completa
4247    0004037500147772000020323504.606/06/2025
4392   00044635124328750000632691038.009/06/2025
4738    0004463511483869000005871648.014/06/2025
5090   00044635108767370000260421200.002/06/2025
5146    0004037500188000000060934667.110/06/2025
5156    0004463511854342000028197300.031/05/2025
5460    0004463511608982000038550150.006/06/2025
5633   00048128203108560000653111427.008/06/2025
5692     000481282054538257501654368.004/06/2025
5757   0004812820364067000000533641.4907/06/2025
6007     000481282055050268700221359.024/05/2025
6082  00048128400623630000149291119.0308/06/2025
6144    0004812820549017516088047500.010/06/2025
6577   0004812830209346000013502636.2203/06/2025
6614    0004812830046383000093747500.006/06/2025
7054    000481282055279590900945180.9503/06/2025
7291   0004812831006730079091841392.9324/05/2025
7383   00048128310239804180270232090.001/06/2025
7450    0004812840710070000090386110.031/05/2025